<!DOCTYPE html>
<html>
  <head>
    <title>COVIS Image Plots</title>
    <link rel="stylesheet" href="{{stylePath}}/screen.css" type="text/css"/>
    <link rel="alternate" type="application/atom+xml" 
      title="Atom Feed" href="{{feedPath}}"/>
  </head>
  <body>
    {{>header}}
    <div class="paginate">
      <a href="{{older}}">older plots</a>
    </div>
    <div id="plot">
      <img src="{{plot_url}}" alt="{{name}}" />
    </div>
  </body>
</html>
