body {
  font: 1.2em Georgia, serif;
  line-height:1.2em;
  margin:0;
  padding:0;
  
}

#profile {
/*  margin:2em;*/
/*  padding:.5em;*/
}

#account {
  font-size:0.8em;
  text-shadow: #fff 0 0 4px;
  float:right;
}

#feeds {
  font-size:0.6em;
  text-shadow: #fff 0 0 4px;
}

a {
  text-decoration:none;
}

h1 {
  padding:6px;
  margin:0;
  line-height:1.2em;
}

h2 {
  padding:0;
  margin:0;
  line-height:1em;
  font-size:112%;
}

#header h2 {
  text-shadow: 0 0 4px #000;    
}

#header h2 a {
  color:#fff;
}

#header #info, #header #edit {
  float:right;
  text-shadow: #fff 0 0 4px;
}

h3 {
  margin-bottom:0;
  margin-top:4px;
}

h4 {
  margin:4px;
}

#header {
  background:#9a9;
  padding:8px;
  border-bottom: 1em solid #b9dab9;
}

#content {
  width:700px;
  padding:10px;
  background:#f9f9f9;
/*  float:left;*/
  margin-top:0;
  margin-left:240px;
}

#tagcloud {
  float:left;
  width:220px;
  margin:2ex 1em;
}

.tags a, #tagcloud a {
  color:#bbb;
}
.tags a:hover, #tagcloud a:hover {
  color:#9b9;
}

.tags, .by {
  font-size:80%;
  color:#666;
  margin-top:0;
}


label {
  display:block;
}

#post .body {
  padding:5px 15px;
}

#posts .body {
  padding:5px 10px;
}
.body img {
  border:2px solid #fff;
  margin-left:133px;
}

#posts li {
  margin-bottom:16px;
}

p.post {
  font-family: serif;
  margin:10px;
}

#comments {
  font-size:80%;
  background:#fdfdfd;
  padding:12px;
  margin:8px;
  border:4px #fff;
}

#comments ul {
  padding:0;
}

#comments li {
  border:4px solid #ebebeb;
  background:#fbfbfb;
  margin:20px 0;
  padding:3px 3px 3px 3px;
}

#comments h4 {
  background:#ebebeb;
  padding:1px 0 0 5px;
}

img.gravatar {
  width:40px;
  height:40px;
  float:left;
  margin:2px 8px;
  border:2px solid #fff;
}

ul {
  margin:0;
  list-style: none;
  padding:0 20px;
}

.body ul {
  list-style: disc;
}

.paginate {
  text-align:center;
  display:block;
  width:100%;
  font-size:80%;
}

form {
  font-size:0.8em;
  padding:8px;
  background:#ddd;
}

fieldset {
  background:#ebebeb;
}

fieldset#author {
  float:left;
  width:20%;
}

textarea {
  padding:2px;
}


blockquote {
  padding:8px;
  background:#444;
  color:#fff;
}
