<div id="header">
  <h2><a href="{{index}}">COVIS Image Plots</a></h2>
  <div id="feeds">
      <a href="{{feedPath}}">Atom feed</a>
      <span id="info">
	<a href="http://wiki.neptunecanada.ca/display/instruments/19003">Observatory Page</a> (login required)
      </span>
  </div>
</div>
